extends layout

block link
  -var selected = 'Active Exercise';

block js
  if exercise != null
    script(src="/js/socket.js")
    script(src="/js/post.js")
    script(src="/js/student.js")
    script(src="/js/active_exercise.js")

block content
  if exercise == null
    div(class="narrow-content")
      h1 No active exercise at the moment
  else
    div(class="active-exercise-container")
      div(id="active-exercise-header")
        h5 Exercise #{exercise.name} - number #{exercise.number} - students finished/all&nbsp;&nbsp;
          span(id="active-exercise-students-finished") 0
          span /
          span(id="active-exercise-students-all") 0
      div(id="active-exercise-students")
      div(class="modal fade", id="student-detail-modal", tabindex="-1", role="dialog", aria-labelledby="studentDetailLabel", aria-hidden="true")
        div(class="modal-dialog modal-lg")
          div(class="modal-content")
            div(class="modal-header")
              h5(class="modal-title")
              button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            div(class="modal-body")
              h6(class="modal-ip")
              div(class="modal-command-history")
            div(class="modal-footer")
