extends layout

block link
  -var selected = 'Active Exercise';

block css
  link(rel="stylesheet", href="/css/lib/jquery-ui.min.css")

block js
  if exercise != null
    script(src="/js/lib/jquery-ui.min.js")
    script(src="/js/socket.js")
    script(src="/js/utils.js")
    script(src="/js/post.js")
    script(src="/js/student.js")

    // exercise initialization
    script(src="/js/active_exercise.js")

    // modal dialog for students detail - needs Exercise class to be initialized
    script(src="/js/student_detail.js")

    script(src="/js/dnd.js")

block content
  if exercise == null
    div(class="narrow-content")
      h1 No active exercise at the moment
  else
    div(class="active-exercise-container")
      div(id="active-exercise-header")
        h5 Exercise #{exercise.name} - number #{exercise.number} - students finished/all&nbsp;&nbsp;
          span(id="active-exercise-students-finished") 0
          span /
          span(id="active-exercise-students-all") 0
          button(class="btn btn-primary") Save order
      div(id="active-exercise-students")
      div(id="active-exercise-hall")
      include snippets/student_modal.pug
