extends layout

block link
  -var selected = 'Active Exercise';

block js
  if exercise != null
    script(src="/js/socket.js")
    script(src="/js/post.js")
    script(src="/js/student.js")
    script(src="/js/active_exercise.js")

block content
  if exercise == null
    div(class="narrow-content")
      h1 No active exercise at the moment
  else
    div(class="active-exercise-container")
      div(id="active-exercise-header")
        h5 Exercise #{exercise.name} - number #{exercise.number}
      div(id="active-exercise-students")
