extends layout

block css
  link(rel="stylesheet", href="/css/lib/flatpickr.min.css")

block js
  script(src="/js/lib/flatpickr.min.js")
  script(src="/js/level_points.js")

block link
  -var selected = 'Create Exercise';

block content
  div(class="narrow-content")
    h1 #{header}
    form(method="POST", action="")
      div(class="form-group")
        label(for="name") Name (use "challenge name" from GTA if you want to use auto evaluation):
        input(id="name", class="form-control", type="text", placeholder="Enter the name of the exercise", name="name")
      div(class="form-group")
        label(for="id") Exercise ID:
        input(id="id", class="form-control", type="number", placeholder="Enter the exercise id", name="id", required)
      div(class="form-group")
        label(for="last_level") Last level:
        input(id="last_level", class="form-control", type="text", placeholder="Enter the name of the last level", name="last_level")
      fieldset(class="form-group", name="score_map")
        legend Set score for different levels (js regexp allowed)
        div(class="exercise-levels-points")
          div(class="form-inline")
            label Bonus
              input(type="hidden", name="pointmap[is_bonus][]", value="off")
              input(type="checkbox", class="form-check-input")
            input(type="text", class="form-control m-2", placeholder="Level name", name="pointmap[levels][]")
            input(type="number", class="form-control m-2", placeholder="Points", name="pointmap[points][]")
        button(class="btn btn-outline-info", type="button", id="btn-add-levels-points") Add new
        button(class="btn btn-outline-danger", type="button", id="btn-rm-levels-points") Remove last
      div(class="form-group")
        label(for="starts_at") Exercise starts at:
        input(id="starts_at", class="form-control flatpickr-input", type="text", name="starts_at", readonly="readonly", required)
      div(class="form-group")
        label(for="ends_at") Exercise ends at:
        input(id="ends_at", class="form-control flatpickr-input", type="text", name="ends_at", readonly="readonly", required)
      button(class="btn btn-primary", type="submit") Create

    if errors
      ul
        for error in errors
          li!= error.msg

block script
  script.
    $(document).ready(function() {
      $('#starts_at, #ends_at').flatpickr({enableTime: true});
    });
