body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #F7F7F9;
}

.narrow-content {
    width: 70%;
    margin: 0 auto;
}

.flash-message {
    margin-top: 10px;
}

code.passed-command {
    color: green;
}

.active-exercise-container {
    padding: 20px;
}

.active-exercise-container #active-exercise-header {
    border-bottom: 1px solid #ccc;
}
.active-exercise-container #active-exercise-header h5::after {
    content: '';
    display: block;
    clear: both;
}
.active-exercise-container #active-exercise-header button {
    float: right;
    cursor: pointer;
}

.active-exercise-container #active-exercise-students {
    margin-top: 10px;
    border: 1px solid #ccc;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    min-height: 97px;
    max-height: 120px;
}

.active-exercise-container #active-exercise-hall {
    /* TODO: for the future, make the container auto resizable */
    min-height: 4000px;
    border: 1px solid #ccc;
    margin-top: 15px;
    position: relative;
}

.active-exercise-container #active-exercise-hall .user-box {
    position: absolute;
}
.user-box {
    position: relative;
    width: 20%;
    display: inline-block;
    border: 2px solid #ffffff;
    font-size: 110%;
    padding: 8px;
    margin: 0.5%;
    cursor: pointer;
}
.user-box .user-box-info {
    text-align: center;
    max-width: 90%;
    overflow-x: hidden;
}
.user-box .user-box-info .user-box-user {
    margin-left: 5px;
    margin-right: 5px;
}
.user-box .user-box-level {
    position: absolute;
    top: 2px;
    right: 2px;
}
.user-box .user-box-command-info {
    font-size: 80%;
    background-color: #000000;
    overflow-x: hidden;
    white-space: nowrap;
}
.inactive-student {
    border-color: #ff0000;
}

.modal .modal-command-history {
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 5px;
    height: 55vh;
    overflow-y: auto;
}
.modal .modal-command-history code {
    display: block;
    border-radius: 0;
    word-wrap: break-word;
}

.modal .loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    visibility: hidden;
}

.evaluate-exercise-container h5::after {
    content: '';
    display: block;
    clear: both;
}
.evaluate-exercise-table tbody td {
    cursor: pointer;
    padding: .75rem !important;
}
.evaluate-exercise-table .score-cell {
    font-weight: bold;
}
#btn-csv-export {
    float: right;
    cursor: pointer;
}
.bootstrap-table {
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (min-width: 1200px) {

}

/* landscape tablets */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* portrait tablets and landscape phones */
@media (max-width: 991px) and (min-width: 768px) {

}

/* phones in portrait mode */
@media (max-width: 767px) {

}
