body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #F7F7F9;
}

.narrow-content {
    width: 70%;
    margin: 0 auto;
}

.flash-message {
    margin-top: 10px;
}

.active-exercise-container {
    padding: 20px;
}

.active-exercise-container .active-exercise-header {
    border-bottom: 1px solid #ccc;
}
