div(class="modal fade", id="student-detail-modal", tabindex="-1", role="dialog", aria-labelledby="studentDetailLabel", aria-hidden="true")
  div(class="modal-dialog modal-lg")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title")
        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div(class="modal-body")
        h6(class="modal-ip")
        h6 Started at &nbsp;
          span(class="modal-started-at")
        h6 Number of lines &nbsp;
          span(class="modal-number-of-lines") 0
        div(class="modal-command-history")
        h6 Finished at &nbsp;
          span(class="modal-finished-at")
      div(class="modal-footer")
        if modal_evaluate
          form(action=".", method="POST", class="modal-evaluate-form")
            input(type="hidden", name="modal_evaluate_user", value="")
            div(class="form-inline")
              label(for="modal_evaluate_score", class="col-form-label m-2") Set score
              input(type="number", class="form-control m-2", name="modal_evaluate_score", id="modal_evaluate_score", value="", step=0.01)
              div(class="loader")
            div(class="form-inline")
              textarea(name="comment", class="form-control", placeholder="Comment", cols="30")
              button(type="submit", name="modal_evaluate_btn", class="btn btn-primary m-2") Save
